@font-face {
  font-family: "gazette_lt_stdbold";
  src:
    url("../public/fonts/gazetteltstd-bold-webfont.woff2") format("woff2"),
    url("../public/fonts/gazetteltstd-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gazette_lt_stditalic";
  src:
    url("../public/fonts/gazetteltstd-italic-webfont.woff2") format("woff2"),
    url("../public/fonts/gazetteltstd-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gazette_lt_stdroman";
  src:
    url("../public/fonts/gazetteltstd-roman-webfont.woff2") format("woff2"),
    url("../public/fonts/gazetteltstd-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$blue: #252d59;
$orange: #dc4300;
$yellow: #dcc000;

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: calc($sizeValue/10) * 1rem;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: "gazette_lt_stdbold", serif;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  @include fontSize(25);
  @media (max-width: 790px) {
    @include fontSize(22);
  }
}
h2 {
  @include fontSize(14);
}
h3 {
  @include fontSize(10);
}
h4 {
  @include fontSize(9.5);
}
p {
  font-family: "gazette_lt_stdroman", serif;
  letter-spacing: 0.06em;
  strong {
    font-family: "gazette_lt_stdbold", serif;
  }
}
figure {
  margin: 0;
}

body {
  @include fontSize(9);
  margin: 0;
}
.heading, .headingTitle {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.listContainer {
  h3 {
    text-align: center;
  }
  .projectList {
    margin: 20px 0;
    padding: 0;
    text-align: center;
    list-style: none;
    li {
      margin: 10px 0;
    }
  }
}
.projectTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}
// .react-photo-album {
//   display: flex;
//   flex-flow: wrap;
//   justify-content: center;
//   .react-photo-album--track {
//     width: calc(25% - 10px);
//     margin: 0 5px;
//     button {
//       border: 0;
//       color: transparent;
//     }
//   }
// }

//header

.site-header {
  max-width: 1440px;
  padding: 0 15px;
  margin: 20px auto;
  @extend .flex;
  justify-content: space-between;
  align-items: center;
   
    .site-branding {
      width: 40%;
      text-align: right;
      a {
        &:hover {
          text-decoration: none;
        }
      }
      .subTitle{
        margin-left: auto;
        max-width: 180px;
        @include fontSize(6);
      }
    }
    .main-heading-menu {
      @extend .flex;
      text-transform: uppercase;
       width: 60%;
    max-width: 650px;
      justify-content: space-between;
      list-style: none;
      li {
        position: relative;
        cursor: pointer;
        // padding: 0 30px;
        details summary {
          list-style: none;
        }
        details summary::before {
          content: "+ ";

          font-weight: bold;
        }

        details[open] summary::before {
          content: "− ";
        }
        ul {
          padding: 15px 20px;
          list-style: none;
          text-transform: initial;
          margin: 0;
          position: absolute;
          z-index: 2;
          width: 100%;
          min-width: 150px;
          li {
            padding: 0 0 8px;
            color: white;
            mix-blend-mode: difference;
          }
        }
      }
    }
  
}
.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

//pages
.textInfo {
  max-width: 700px;
  margin-top: 4em;
}


.image-caption {
  width: 100%;
  text-align: center;
  @include fontSize(7);
  margin: 3px 0 5px;
}
footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  @include fontSize(6);
}


@media (max-width: 650px) {
  h1 {
    @include fontSize(18);
  }
  .hamburger {
    width: 30px;
    height: 22px;
    position: fixed;
    right: 15px;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 999;

    span {
      display: block;
      height: 3px;
      width: 100%;
      background: black;
      border-radius: 2px;
      transition: all 0.3s ease-in-out;
    }

    &.active span:nth-child(1) {
      transform: rotate(45deg) translate(7px, 7px);
    }

    &.active span:nth-child(2) {
      opacity: 0;
    }

    &.active span:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }
  }
  // .headingOpen {
  //   position: fixed;
  //   width: calc(100% - 30px);
  //   left: 0;
  //   z-index: 3;
  //   top: -20px;
  //   padding-top: 20px;
  //   height: 100dvh;
  //   background: white;
  //   display: block;
  // }
  .site-header {


      .site-branding {
        width: 82%;
        text-align: left;
        .subTitle {
          margin-left: 0;
        }
      }
      .main-heading-menu {
        display: none;
        margin-top: 30px;
        background: white;
        z-index: 2;
        text-align: center;
        li {
          margin-bottom: 15px;
          ul {
            position: initial;
            width: initial;
            padding: 10px;
            li {
              margin-bottom: 0px;
              @include fontSize(8.5);
            }
          }
        }
      }


    .openMenu {
      display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        margin: 0;
        max-width: 100%;
        padding-top: 4em;
    }
  }


}

